img{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
  }
  .container{
   padding-left: 100px;
    margin-top: 30px;
    
  }
  .bloc{
    position: relative;
    display: inline-block;
    width: 300px;
  }
  #id{
    width: 42px;
    padding: 20px;
  }
  .droite{
    position: absolute;
    float:top;
    margin-top: 12px;
    border-radius: 50px ;
    background-color: red;
    color: white;
    margin-left: -40px;
  }
  .gauche{
    position: absolute;
    border-radius: 50px ;
    background-color: green;
    color: white;
    padding: 1px;
    float:left;
    margin-left: -195px;
    margin-top: 12px;
    
    

    
  }
  #btn{
    background-color: green;
    color: white;
    border: 1px solid green;
    margin-left: 45px;
    padding: 2px;

  }
  .coul1{
    color: green;
  }
  .coul2{
    color: lightslategrey;
  }
  p{
    margin-left: 45px;
  }
  .btn2{
    margin-left: 45px;
    padding: 2px;
  }
  